* {
  box-sizing: border-box;

}
html {
  background-color: #FCFCFC;
  font-family: Arial;
  font-size: 18px;
}

#content {
  width: 800px;
  margin: 0 auto;
}

#content h1 {
  font-size: 3rem;
  text-align: center;
}

.simon-container {
  margin: 20px auto;
  width:400px;
  height:400px;
  background-color:#fff;
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.simon-container .simon-button {
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

.simon-button.green {
  background-color: #21BA45;
}

.simon-button.red {
  background-color: #DB2828;
}

.simon-button.yellow {
  background-color: #FBBD08;
}

.simon-button.blue {
  background-color: #2185D0;
}

.clicked {
  transform: scale(1.5);
}
